@CHARSET "ISO-8859-1";

body {
	background-image: url("../img/error404.gif");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	 display: block;
}